<h1>
  <%= @project.name %>
</h1>

<h3>
  <strong>Project Exposition:</strong>
  <%= @project.exposition %>
</h3>

<% if (member_signed_in_and_owns_project?(@project.id))  %>
  <h4>
    Project Discussions: <%= link_to 'New Discussion', new_project_discussion_path(@project) %>
  </h4>
<% end %>


<%= render @project.discussions %>

<%= link_to 'Back', projects_path %>