<!DOCTYPE html>
<html>
  <head>
    <title>PolymathhubCom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice alert-success"><%= notice %></p>
    <p class="alert alert-danger"><%= alert %></p>

    <div class="row header">
      <div class="col-12">
        <ul class="menu">
        <li>
          <%= render 'devise/menu/login_items' %>
        </li>
        <li>
          22222
        </li>
        <li>
          33333
        </li>
      </ul></div> <!-- 75% -->
    </div>
    <div class="row">
      <div class="col-2">...</div>
      <div class="col-8"><%= yield %></div>
      <div class="col-2">...</div>
    </div>

  <div class="row footer">
    <div class="col-12">...</div> <!-- 25% -->
  </div>

  </body>
</html>
